.container {
  display: flex;

}

.left-div {
  width: 30%;
  margin-right: 20px;
}

.right-div {
  width: 70%;
  margin-left: 20px;
}

form button {
  padding-left: 100px;
}

form textarea {
  min-height: 280px;
}


.highlight {
  background-color: yellow;
}